html {
    font-size: 22px;
  }
  body {
    background-color: rgb(27, 26, 26);
    color: ghostwhite;
  }
  a{
    color: aliceblue ;
  }
  a:visited{
    color: lightgrey;
  }
 a:hover,a:active{
    color: #eee
    ;
 }